<!DOCTYPE html>
<!-- Coding by CodingLab || www.codinglabweb.com -->
<html lang="en">
    <div class="ped">
        DOCKER<p class="dem">&nbsp&nbsp</p>
    </div>
    <style>
        button{
            background-color: chartreuse;
        }
    </style>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<title>OTP Verification Form</title>-->
    <link rel="stylesheet" href="/static/css/Otp_page.css" />
    <script src="https://kit.fontawesome.com/3aafa2d65b.js" crossorigin="anonymous"></script>
    <link href="boxicons.min.css" rel="stylesheet" />
</head>

<body>
    
<div class="container">
    <header>
        <i class="fa-solid fa-key"></i>
    </header>
    <h4>Enter OTP Code</h4>
    <form method="post">
        <div class="input-field">
            <input style="width: 150px" type="text" name="cr_otp" maxlength="6" size="6" />
        </div>
        <button style="width: 170px"style=";height: 100px" ><input type="submit" value="Verify OTP" ></button>
    </form>
</div>
</body>
</html>